body {
    width: 960px;
    margin: auto;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background: #777;
}

header{
    width : 1022px;
    
}

h1, p {
    width: 90%;
    padding: 10px;
    margin: 10px;
    color: #777;
    text-align: center;
    background: #ebebeb;
}

article {
    padding: 10px;
    color: #ebebeb;
    background: #777;
}

section {
    display: block;
    float: left;
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ebebeb;
    width: 495px;
    height: 268px;
    overflow: hidden;
}

aside {
    display: block;
    float: right;
    width: 40%;
    height: 267px;
    overflow: hidden;
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ebebeb;
}

footer, nav {
    display: block;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background: #ebebeb;
}
.space {
    clear: both;
  }
  